<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A ToDo App</title>
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <div id="app">
      <h1>ToDo App</h1>
      <form @submit.prevent="addTodo">
        <input type="text" placeholder="Add a new ToDo" v-model="newTodo" />
        <button type="submit">AddToDo</button>
      </form>

      <ul>
        <li v-for="(todo, index) in todos" :key="index">
          <span @click="editTodo(index)">{{ todo.text }}</span>
          <button @click="deleteTodo(index)">Delete</button>
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script>
      new Vue({
        el: "#app",
        data: {
          newTodo: "",
          todos: [],
          editingIndex: null,
        },
        methods: {
          addTodo() {
            if (this.newTodo.trim() !== "") {
              if (this.editingIndex !== null) {
                this.$set(this.todos, this.editingIndex, {
                  text: this.newTodo,
                });
                this.editingIndex = null;
              } else {
                this.todos.push({ text: this.newTodo });
              }
              this.newTodo = "";
            }
          },
          deleteTodo(index) {
            this.todos.splice(index, 1);
          },
          editTodo(index) {
            this.newTodo = this.todos[index].text;
            this.editingIndex = index;
          },
        },
      });
    </script>
  </body>
</html>
